@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Ubuntu');

html {
  /* Applying so that 1rem will equal 10px for easier calculation; default font-size in browsers is 16px, and 62.5% of 16px is 10px. 0.1rem now equals 1px, 1.6rem = 16px */
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu', sans-serif;
  background-color: #f4f4f4;
}

h1 {
  font-family: 'Leckerli One', cursive;
  margin: 4rem 0 3rem 0;
  font-size: 8rem;
  cursor: default;
}

* {
  outline: none;
  border: none;
  /* Incude border and padding in width/height */
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  text-align: left;
  margin: 4rem auto 5rem auto;
  width: 50%;
  padding-left: 0;
}

li {
  display: inline-block;
  margin-top: 3.5rem;
  line-height: 3;
  border-left: #2f80de solid 1.3rem;
  width: 100%;
  background-color: #cddef2;
  padding: 1.5rem 3rem 1.5rem 3rem;
  font-size: 1.7rem;
}

li:nth-child(even) {
  text-align: right;
  border-right: #cf2b2b solid 1.3rem;
  border-left: none;
  background-color: #f5b4b4;
}
​ p,
li {
  letter-spacing: 0.15rem;
}

p.random-joke {
  font-size: 2.6rem;
  width: 55%;
  margin: 5rem auto;
  line-height: 1.8;
}

p.searching-msg {
  font-size: 2.5rem;
  margin-top: 5rem;
  font-style: italic;
  line-height: 1.8;
  color: #7a7a7a;
}

p.no-results-msg {
  margin-top: 5rem;
  font-size: 2.5rem;
  line-height: 1.8;
}

input {
  font-size: 2rem;
  line-height: 30px;
  border-radius: 0.5rem;
  padding: 0 0 0.2rem 2rem;
  width: 45.75rem;
  height: 6rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  /* Control animation speed for shadow that appears on focus */
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

button {
  background-color: #3b3b3b;
  color: #fff;
  font-size: 1.9rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  width: 22rem;
  height: 5.3rem;
  margin: 2.5rem 0.9rem 0 0.9rem;
  line-height: 30px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

/* Special styling for viewports up to 767px wide */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 6rem;
  }

  ul {
    width: 90%;
    padding-left: 0;
    margin: 1.5rem auto 3rem auto;
  }

  li {
    line-height: 2;
    padding: 1.5rem 2.3rem;
  }

  p.random-joke {
    font-size: 2.1rem;
    width: 85%;
  }

  input {
    width: 90%;
  }

  button {
    width: 42.5%;
    height: 6rem;
  }
}
